# Python-Müll (Bytecode)
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
venv/
env/
ENV/

# Datenbank (Ganz wichtig!)
instance/
*.db

# Lokale Uploads (Bilder, die du beim Testen hochlädst)
static/uploads/*
!static/uploads/default.jpg

# IDE-Einstellungen (VS Code, PyCharm etc.)
.vscode/
.idea/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db