{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ recipe.name }}</h1>
            {% if recipe.servings %}
                <p class="text-muted">Für {{ recipe.servings }}</p>
            {% endif %}
            <p><small class="text-muted">Von: {{ recipe.author.username }}</small></p>
            <hr>
            <img src="{{ url_for('static', filename='uploads/' + recipe.image_file) }}" class="img-fluid rounded mb-4" alt="{{ recipe.name }}">
            <h3>Anleitung</h3>
            <p>{{ recipe.instructions | nl2br }}</p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Zutaten
                </div>
                <ul class="list-group list-group-flush">
                    {% for ingredient in recipe.ingredients %}
                        <li class="list-group-item">
                            {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
                        </li>
                    {% else %}
                        <li class="list-group-item">Keine Zutaten angegeben.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
